/* :root {
  --dark-color: #171717;
  --secondary-color: #3c948b;
  --offwhite: #f4f4f4;
  --light-dark-color: #3f3f3f;
  --dark-blue-color: #1E2538;
  --white-color: #ffffff;
  --yellow-color: #F2F60F;
  --light-green-color: #89CB36;
  --blue-color: #3657CB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btn {
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background-color: var(--offwhite);
  color: var(--offwhite);
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  color: var(--dark-color);
}

.search__btn {
  display: block;
  border-radius: 20px;
  background-color: var(--secondary-color);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.navbar {
  padding: 10px;
  background: var(--light-dark-color);
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--offwhite);
  margin-right: 3rem;
  font-size: 20px;
}

.navbar__links a:hover {
  color: var(--secondary-color);
}

.search__form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search__form > input {
  padding: 10px 17px;
  border: 1px solid var(--dark-color);
  background: var(--offwhite);
  color: var(--dark-color);
  font-size: 20px;
  outline: none;
  border-radius: 20px;
}

.search__form > input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);
}

.shows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
}

.shows__item {
  justify-self: center;
  width: 170px;
  text-align: center;
  margin: 1rem 0;
  background: var(--secondary-color);
}

.shows__item-link {
  text-decoration: none;
  color: var(--offwhite);

}

.shows__item-img{
  width: 170px;
  height: 250px;
  object-fit: cover;
}


.shows__item-text {
  padding: 10px 0;
  border-bottom: 1px solid rgba(244, 244, 244, 0.5);
}

.shows__item-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  padding-bottom: 5px;
}
 */

 :root {
  --dark-blue-color: #1E2538;
  --white-color: #ffffff;
  --yellow-color: #F2F60F;
  --light-green-color: #89CB36;
  --blue-color: #3657CB;
}

@font-face {
  font-family: 'Qanelas';
  src: url(fonts/Qanelas-Black.ttf);
}

body {
  font-family: 'Qanelas';
  font-size: 16px;
  font-weight: 400;
  background-color: var(--dark-blue-color);
}

a {
  text-decoration: none;
}

.header {
  padding-top: 23px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  margin-right: 52px;
  list-style: none;
}

.nav-list-item-link {
  text-decoration: none;
  font-weight: 700;
  color: var(--white-color);
}

.nav-list-item-link:hover {
  color: var(--blue-color);
  transition: all .2s ease-in-out;
}

.header-input {
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 20px;

  border: none;
  background: rgba(57, 63, 84, 0.8);
  color: var(--white-color);
}

.header-input:focus {
  outline: none;
}

.films-section{
  margin-top: 50px;
}

.section-title {
  font-size: 65px;
  font-weight: 900;
  color: var(--white-color);
}

.films {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}

.film-card {
  max-width: 340px;
  position: relative;
}

.film-poster {

  width: 340px;
  border-radius: 10px;
}


.film-title {
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white-color);
}

.film-genres {
  color: var(--yellow-color);
  font-weight: 400;
  margin-bottom: 10px;
}

.film-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 30px;
  top: 12px;
  right: 12px;
  border-radius: 5px
}

.film-rating-bad {
  background-color: red;
}

.film-rating-good {
  background-color: var(--light-green-color);
}


.rating {
  font-weight: 700;
  color: var(--white-color);
}

.show-section{
  margin-top: 80px;
}

.show {
  display: grid;
  grid-template-columns: 50px 400px 620px;
  gap: 50px;
}

.show-photo {
  width: 400px;
  border-radius: 10px;
  grid-column: 2/3;
}

/* .show-info {
  margin-top: 10px;
} */

.show-info-name {
  font-size: 65px;
  font-weight: 900;
  color: var(--white-color);
}

.show-info-params {
  display: grid;
  grid-template-columns: 192px 530px;
  margin-top: 30px;
  gap: 50px;
  align-items: center;

}

.show-info-param{
  font-size: 18px;
  color: var(--white-color);
}

/* CrewSection ShowDetail */

.crew-section{
  margin-top: 50px;
  margin-left: 100px;
}

.section-title {
  font-size: 65px;
  color: var(--white-color)
}

.crew {
  margin-top: 40px;
  display: grid;
  justify-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}

.crew-item {
  width: 250px;
}

.crew-img {
  width: 248px;
}

.crew-name {
  margin-top: 16px;
  margin-bottom: 12px;
  color: var(--white-color);
}

.crew-type {
  color: var(--yellow-color);
}

.cast-section {
  margin-top: 50px;
  margin-left: 100px;
}

/* CastSection ShowDetail */

.cast {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}

.cast-item {
  width: 248px;
}

.cast-img {
  width: 248px;
}

.cast-name {
  margin-top: 16px;
  margin-bottom: 12px;
  color: var(--white-color);
}

.cast-type {
  color: var(--yellow-color);
}
